# Data Science Tools and Ecosystem

#### Introduction:
In this notebook, Data Science Tools and Ecosystem are summarized.

In [1]:
#Exercise 4 - Create a markdown cell to list data science languages

###### Some of the popular languages that Data Scientists use are:
1. Python , 
2. R , 
3. SQL , 
4. Scala ,
5. julia , and
6. SAS .

In [2]:
#Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
|--------------------|
|    Jupyter         |
|    RStudio         |
|        VS Code     |

In [4]:
#Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# Exercise 8 - Create a code cell to multiply and add numbers
# This a simple arithmetic expression to mutiply then add integers

In [7]:
(3*4)+5

17

In [9]:
#Exercise 9 - Create a code cell to convert minutes to hours

In [10]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

In [11]:
#Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**
- Understood common languages and tools used in data science.
- Explored open-source development environments like Jupyter and RStudio.
- Practiced basic operations such as converting units and writing ordered lists in Markdown.

In [12]:
#Exercise 11 - Create a markdown cell to indicate the Author's name

### Author
Ammara